@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=JetBrains+Mono:wght@800&family=Oswald&family=Permanent+Marker&family=Rubik+Bubbles&family=Ubuntu:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    height: 100vh;
    margin: 5vw;
}

h1 {
    color: rgb(192, 0, 0);
    text-align: center;
    padding: 1rem;
    font-size: 3em;
    background-image: url(images/disney_background.jpg);
    background-position: center;
}

img {
    width: 30em;
    margin: 20px auto;
    display: block;
}

p {
    margin: 1em auto;
    font-weight: bold;
    color: white;
    text-align: justify;
}

div {
    margin: 3em auto;
    padding: 1em;
}

form {
    background-color: white;
    padding: 2em;
    border: 2px solid black;
    font-weight: bold;
}

label {
    display: block;
    margin: 1em auto;
}

input[type="radio"] {
    margin-right: 0.25em;
}

/* 
--------------------------------------------- 
További CSS beállítások
---------------------------------------------  
*/

/* 
--------------------------------------------- 
Képek, szegélyek, árnyékok
---------------------------------------------  
*/
/* img:nth-of-type(1) */
/* img:not(:last-child) ??? */
img:first-of-type {
    background-color: gray;
    padding: 5px;
    border: 5px solid yellow;
    border-radius: 100px 20px; /* bf, jf, ja, ba */
    outline: 5px solid black;
    box-shadow: 10px -10px blue, -10px 10px green;
}

/* #test {
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 50%;
} */

form + img {
    border: 2px dashed black;
    border-radius: 50%;
}

h1 {
    font-family: "Permanent Marker";
    text-shadow: 2px 3px black, 0px 0px 3px black;
}

/* p {
    color: yellow;
    text-shadow: 0px 0px 2px black;
} */

/* 
--------------------------------------------- 
Bekezdések (3 db), színátmenet
---------------------------------------------  
*/

div:has(p) {
    border-radius: 10px;
    background-image: linear-gradient(180deg, blue 5%, black 45% 55%, red 95%);
    box-shadow: 10px 10px 30px black;
}

/* 
--------------------------------------------- 
Form elemek
---------------------------------------------  
*/



/* 
--------------------------------------------- 
Átlátszó háttérkép
---------------------------------------------  
*/


