@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=JetBrains+Mono&family=Linefont&family=Rubik+Bubbles&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 2em;
    background-color: antiquewhite;
}

h1, h2 {
    margin: 1em auto;
}

p {
    margin: 1em 0;
    text-align: justify;
    font-family: "Quite Magical";
}

ul {
    font-family: "Quite Magical";
    font-size: 0.75rem;
    padding-left: 1em;
}

li {
    margin: 0.1em 0;
    font-size: 1rem;
}

hr {
    margin: 1em 0;
}

table {
    background-color: white;
    margin: auto;
    border: 3px solid black;
}

td, th {
    padding: 0.5em;
}

article table {
    text-align: center;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}

label {
    display: inline-block;
    margin: 0.3em auto;
    font-family: "Quite Magical";
}

img {
    display: inline-block;
    vertical-align: middle;
}

footer p {
    margin: 0.5em auto;
}

footer div {
    text-align: center;
    margin: 0;
}

footer img {
    height: 3em;
}

/* ---------------------------------------------- */
/* Betűtípus */
@font-face {
    src: url(Fonts/QuiteMagicalRegular-8VA2.ttf);
    font-family: "Quite Magical";
}

h2 {
    font-family: "Quite Magical";
}

h1 {
    font-family: "INDIE FLOWER";
    text-align: center;
}

/* ---------------------------------------------- */
/* Mese */
/* +: közvetlenül következő tesó */
h2 + p::first-line {
    font-weight: bold;
}

h2 + p::first-letter {
    /* color: red; */
    /* font-size: 2em; */
    initial-letter: 2;
}

/* ---------------------------------------------- */
/* Törpök nevei */

/* MO1 (Zoli) */
/* label[for] {
    color: grey;
    font-size: 1.5em;
    margin-right: 1em;
} */

/* MO2 (Bálint) */
/* :first-child: első gyereke valakinek */
/* label {
    color: grey;
    font-size: 1.5em;
    margin-right: 1em;
}
label:first-child {
    color: black;
    font-size: 1em;
    margin-right: 0;
} */

/* MO3 (Máté) */
/* :not(<selector>): amire nem teljesül a belső szelektor */
/* label:not(:first-child) {
    color: grey;
    font-size: 1.5em;
    margin-right: 1em;
} */

/* MO4 (Szabolcs) */
/* ~: későbbi tesók (fiatalabbak) */
label ~ label {
    color: grey;
    font-size: 1.5em;
    margin-right: 1em;
}

/* MO5 (Szabolcs + Máté) */
/* input + label {
    color: grey;
    font-size: 1.5em;
    margin-right: 1em;
} */

input:checked + label{
    color: green;
}

/* Szabolcs */
li:first-child {
    color: darkred;
}
/* li:not(:first-child) {
    color: green;
} */

/* t_fnorbi */
li:first-child ~ li{
    color: green;
}

li::marker {
    color: gold;
    font-size: 1.5em;
    content: "kiegtem ";
    font-family: "linefont";
}

h2::before {
    content: "🎄";
    margin-right: 0.25em;
}

/* Szabolcs */
li:not(:last-child)::after {
    content: ";";
}


/* ---------------------------------------------- */
/* Disney rajzfilmek */
tr:first-child {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
}

/* td:first-child, td:last-child {
    text-align: center;
} */
tr :first-child, tr :last-child {
    text-align: center;
}

/* :has(<selector>) - rendelkezik adott szelektorra illeszkedő utóddal */
tr:has(td.kedvenc) {
    background-color: lightgreen;
}

/* ---------------------------------------------- */
/* Disney rajongók */

/* 
:first-child => első gyerek
:first-of-type => adott típusú gyerekek közül az első
*/
/* 
:first-child, :last-child, :nth-child(???)
:first-of-type, :last-of-type, :nth-of-type(???)
*/

article table {
    border-collapse: separate;
    border-spacing: 0.3em;
}

/* article table tr:nth-child(2),
article table tr:nth-child(4),
article table tr:nth-child(6),
article table tr:nth-child(8) {
    background-color: rgba(0, 0, 255, 0.2);
} */

/* even, odd */
/* article table tr:nth-child(even) {
    background-color: rgba(0, 0, 255, 0.2);
} */

/* :nth-child(An+B) => A-val osztva B maradékot ad */
article table tr:nth-child(2n) {
    background-color: rgba(0, 0, 255, 0.2);
}

article table tr:nth-child(2n+1):not(:first-child) {
    background-color: rgba(255, 0, 0, 0.2);
}

/* ---------------------------------------------- */
/* Footer */
