@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=JetBrains+Mono:wght@800&family=Oswald&family=Permanent+Marker&family=Rubik+Bubbles&family=Ubuntu:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    height: 100vh;
    margin: 5vw;
}

h1 {
    color: rgb(192, 0, 0);
    text-align: center;
    padding: 1rem;
    font-size: 3em;
}

img {
    width: 30em;
    margin: 20px auto;
    display: block;
}

p {
    margin: 1em auto;
    font-weight: bold;
    color: white;
    text-align: justify;
}

div {
    margin: 3em auto;
    padding: 1em;
}

form {
    background-color: white;
    padding: 2em;
    border: 2px solid black;
    font-weight: bold;
}

label {
    display: block;
    margin: 1em auto;
}

input[type="radio"] {
    margin-right: 0.25em;
}

/* 
--------------------------------------------- 
További CSS beállítások
---------------------------------------------  
*/

/* 
--------------------------------------------- 
Képek, szegélyek, árnyékok
---------------------------------------------  
*/
img:first-of-type {
    background-color: gray;
    padding: 5px;
    border: 5px solid yellow;
    /* bf, jf, ja, ba */
    border-radius: 100px 20px;
    /* border-top-left-radius: 100px; */
    outline: 5px solid black;
    box-shadow: 10px -10px blue, -10px 10px green;
}

/* #kor {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
} */

/* form + img */
/* img:last-of-type */
/* img:last-child */
/* img:nth-of-type(2) */
form + img {
    border: 2px dashed black;
    border-radius: 50%;
}

/* text-shadow: <x> <y> <blur> <color>*/
h1 {
    font-family: "Permanent Marker";
    text-shadow: 2px 3px black, 0px 0px 3px black;
}

/* 
--------------------------------------------- 
Bekezdések (3 db), színátmenet
---------------------------------------------  
*/

/* Legalább 3 db <p> gyereket tartalmaz */
/* div:has(p:nth-of-type(3))  */

div:has(p) {
    border-radius: 10px;
    background-image: linear-gradient(180deg, blue 5%, black 45% 55%, red 95%);
}

/* 
--------------------------------------------- 
Form elemek
---------------------------------------------  
*/
/* circle at right top */
/* closest-side, farthest-side */
/* closest-corner, farthest-corner */
form {
    border-radius: 4em 8em 2em 2em;
    background-image: radial-gradient(circle at 100% 0%, gold 10%, lightblue 25%);
    /* background-image: radial-gradient(circle closest-corner at 80% 0%, gold, lightblue); */
    box-shadow: 0 0 15px 5px black inset;
}

label:has(input[type="radio"]) {
    border: 1px solid black;
    display: inline-block;
    padding: 1em;
    border-radius: 20px;
}

label:has(input[type="radio"]:not(:checked)):hover {
    background-color: peachpuff;
    cursor: pointer;
}

label:has(input[type="checkbox"]:checked)::before {
    content: "✔";
    color: green;
}

input[type="checkbox"]:checked {
    display: none;
}

/* 
--------------------------------------------- 
Átlátszó háttérkép
---------------------------------------------  
*/

h1 {
    border: 2px solid black;
    position: relative;
}

/* Jani */
/* 
    width: 100%;
    height: 100%;
*/
h1::before {
    content: "";
    position: absolute;
    /* left: 0;
    top: 0;
    right: 0;
    bottom: 0; */
    inset: 0;
    z-index: -1;
    background-image: url(images/disney_background.jpg);
    background-position: center;
    opacity: 60%;
}

