* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1em;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
}

h1, h2 {
    margin: 0.5em auto;
}

section {
    margin: 1em auto;
    padding: 1em;
}

h1 span {
    color: darkred;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2), -1px -1px 20px rgba(0, 0, 0, 0.2);
}

nav {
    background-color: antiquewhite;
}

nav ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 1em;
}

nav ul li a:hover {
    background-color: rgba(255, 165, 0, 0.2);
}

#ertekeles {
    background-color: lightgoldenrodyellow;
}

#ertekeles p {
    text-align: center;
    font-weight: bold;
}

#ertekeles div {
    border: 2px solid black;
    width: 100%;
    height: 20px;
    border-radius: 20px;
}

img {
    max-width: 100%;
}

.kategoria {
    border: 2px dashed black;
    text-align: center;
}

.kategoria p {
    font-size: 2em;
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-variant: small-caps;
}

.kategoria:hover {
    cursor: pointer;
}

.kategoria:hover p{
    text-decoration: underline;
}

form input {
    font-size: 0.75em;
}

form {
    font-size: 1.5em;
    margin: 0.25em;
    padding: 1em;
    background-color: lightyellow;
}

label:not(label:has(input)), input:not(label input) {
    display: block;
    width: 100%;
}

label {
    margin-bottom: 0.5em;
}

input {
    padding: 1em;
}

.szeles div label{
    padding: 0.5em;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 0.5em;
    transform: scale(1.25);
}

/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */

/* Menü formázása + animáció */
ul {
    display: flex;
    /* justify-content: space-evenly; */
}

li {
    display: flex;
    flex-grow: 1;
}

nav a {
    flex-grow: 1;
    text-align: center;
    text-shadow: 0 0 1px black;
    /* background-color: yellow; */
    transition: letter-spacing 0.5s;
    animation: megjelenes 1s;
}

@keyframes megjelenes {
    0% {
        transform: scale(0);
        text-shadow: 0 0 10px black;
    }
    80% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

/* li:first-child {
    flex-grow: 7;
    background-color: red;
} */


/* Menü linkek áttűnés */
a:hover {
    letter-spacing: 2px;
    transition: letter-spacing 0.5s;
}

/* a:not(:hover) {
    transition: letter-spacing 0.5s;
} */





/* ------------------------------------------------------------------- */
/* Értékelés formázása */
#ertekeles {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: minmax(100px, 1fr) 5fr 3fr;
    gap: 1em;
    align-items: center;
}

/* #ertekeles img {
    grid-area: 1 / 1 / 4 / 2;
    grid-row: 1 / 4;
}

#ertekeles h2 {
    grid-area: 1 / 2 / 4 / 3;
    grid-row: 1 / 4;
} */

#ertekeles img, #ertekeles h2 {
    grid-row: span 3;
    /* grid-row: 1 / -1; */
}

#csik {
    position: relative;
    background: linear-gradient(90deg, red, yellow, green);
}

/* Értékelés animáció */
#csik::after {
    content: "";
    background-color: white;
    position: absolute;
    /* left: 0;
    top: 0;
    bottom: 0;
    right: 0; */
    inset: 0;
    /* left: 0;
    top: 0;
    height: 100%;
    width: 100%; */
    animation: toltes 3s forwards;
}

/* MO2 */
/* @keyframes toltes {
    0% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 90%;
        width: 10%;
    }
} */

@keyframes toltes {
    0% {
        left: 0;
        border-radius: 20px;
    }
    25%, 100% {
        border-radius: 0 20px 20px 0;
    }
    100% {
        left: 90%;
    }
}

/* ------------------------------------------------------------------- */
/* Kategóriák formázása + áttűnés */
/* section:nth-of-type(2) > div */
/* justify-content: rács igazítása */
/* justify-items: elemek igazítása (a rácsokon belül) */
div:has(.kategoria) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* column-gap: 0.5em;
    row-gap: 1em; */
    gap: 1em 0.5em;
    justify-items: center;
}

.kategoria {
    height: 280px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: border-radius 0.25s;
    overflow: hidden;
}

.kategoria:hover {
    border-radius: 50%;
    border-style: solid;
}


/* ------------------------------------------------------------------- */
/* Űrlap formázása */
form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
    align-items: center;
}

/* 1 / -1 => elsőtől az utolsóig, egy oszlop szélességnyi */
.szeles {
    grid-column: 1 / -1;
}

/* ------------------------------------------------------------------- */
/* Űrlap animáció */



