div {
    height: 200px;
}

iframe {
    width: 70%;
    height: 400px;
    display: block;
    margin: 20px auto;
    border: 2px solid black;
}

svg {
    background-color: lightcyan;
    display: block;
    margin: auto;
    border: 3px solid black;
}