video {
    width: 75%;
    margin: auto;
    display: block;
}

svg {
    background-color: lightcyan;
    border: 2px solid black;
    display: block;
    margin: auto;
}

text {
    font-family: "Comic Sans MS";
    font-size: 1.5em;
    fill: white;
}

/* inline-frame */
iframe {
    width: 50%;
    height: 400px;
    margin: 1em auto;
    border: 2px solid black;
    display: block;
}

