@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=JetBrains+Mono&family=Rubik+Bubbles&family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 2em;
    background-color: antiquewhite;
}

h1, h2 {
    margin: 1em auto;
}

p {
    margin: 1em 0;
    text-align: justify;
    font-family: "Quite Magical";
}

ul {
    font-family: "Quite Magical";
    font-size: 0.75rem;
    padding-left: 1em;
}

li {
    margin: 0.1em 0;
    font-size: 1rem;
}

hr {
    margin: 1em 0;
}

table {
    background-color: white;
    margin: auto;
    border: 3px solid black;
}

td, th {
    padding: 0.5em;
}

article table {
    text-align: center;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}

label {
    display: inline-block;
    margin: 0.3em auto;
    font-family: "Quite Magical";
}

img {
    display: inline-block;
    vertical-align: middle;
}

footer p {
    margin: 0.5em auto;
}

footer div {
    text-align: center;
    margin: 0;
}

footer img {
    height: 3em;
}

/* ---------------------------------------------- */
/* Betűtípus */
@font-face {
    src: url(Fonts/QuiteMagicalRegular-8VA2.ttf);
    font-family: "Quite Magical";
}

h2 {
    font-family: "Quite Magical";
}

h1 {
    font-family: "Indie Flower";
}

/* ---------------------------------------------- */
/* Mese */
/* A "h2" elemeket közvetlen követő "p"-k első sora */
/* +: közvetlen követő tesó */
h2 + p::first-line {
    font-weight: bold;
}

h2 + p::first-letter {
    /* font-size: 2em; */
    initial-letter: 2;
    margin-right: 0.2em;
}

h2::selection {
    background-color: white;
}

/* ---------------------------------------------- */
/* Törpök nevei */

/* ~: összes későbbi (fiatalabb) tesók */
br ~ label {
    font-size: 1.5em;
    color: grey;
    margin: 0;
    margin-right: 1em;
    vertical-align: middle;
}

/*MO2 Bogi */
/* label[for] {
    font-size: 1.5em;
    color: grey;
    margin-right: 1em;
} */

input:checked + label {
    color: green;
}

input[type="radio"] {
    vertical-align: middle;
}

/* :first-child: első gyerek */
/* :first-of-type: első adott típusú gyerek */
li:first-child {
    color: darkred;
}

/* *: minden (univerzális szelektor) */
li:first-child ~ *{
    color: green;
}

li::marker {
    color: gold;
    font-size: 1.5em;
    /* content: "❤ "; */
}

/* ::before, ::after szelektoroknál a content kötelező! */
h2::before {
    content: "🎄";
    margin-right: 0.25em;
}

/* MO1 */
/* li::after {
    content: ";";
}
li:last-child::after {
    content: "";
} */

/* :not(<selector>): azon elemek, amikre nem teljesül az adott szelektor */
li:not(:last-child)::after {
    content: ";";
}

/* ---------------------------------------------- */
/* Disney rajzfilmek */
tr:first-child {
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
}

td:first-child, td:last-child {
    text-align: center;
}

/* :has(<selector>): aki rendelkezik ilyen tulajdonságú utóddal */
tr:has(td.kedvenc) {
    background-color: lightgreen;
}

/* ---------------------------------------------- */
/* Disney rajongók */
/* article table {
    border-spacing: .3em;
    border-collapse: separate;
} */

/* MO2 */
table:last-child {
    border-spacing: .3em;
    border-collapse: separate;
}

/* NO WAY!!! - "Ne csináld Máté!" */
/* article table tr:nth-child(2),
article table tr:nth-child(4),
article table tr:nth-child(6),
article table tr:nth-child(8) {
    background-color: rgba(0, 0, 255, 20%);
} */

/* even, odd */
/* article table tr:nth-child(even) {
    background-color: rgba(0, 0, 255, 20%);
} */

/* An+B, ahol A és B egészek */
article table tr:nth-child(2n) {
    background-color: rgba(0, 0, 255, 20%);
}

article table tr:nth-child(2n+1):not(:first-child) {
    background-color: rgba(255, 0, 0, 20%);
}

/* 
Gyerekekkel kapcsolatos pszeudo-szelektorok
:first-child => az első gyerek
:last-child
:nth-child(An+B)
:only-child
:first-of-type => az első adott típusú gyerek
:last-of-type
:nth-last-of-type(An+B)
:only-of-type
*/

/* Magyar színek! */
/* article table tr:nth-child(3n) {
    background-color: green;
}

article table tr:nth-child(3n+1) {
    background-color: red;
}

article table tr:nth-child(3n+2) {
    background-color: white;
} */

/* ---------------------------------------------- */
/* Footer */
/* footer *:not(div, div p) {
    color: darkred;
} */

/* +, ~, > */
/* >: közvetlen utód (gyerek) */
footer > p {
    color: darkred;
}

footer p {
    text-align: center;
}