* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 0 1em;
}

h1 {
    text-align: center;
    margin: 1em auto;
}

/* Egymás alá kerül minden */
/* label {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.25em;
    width: fit-content;
} */

/* Helyes, de mi a helyzet ha nincs label? (lásd: textarea, button) */
/* label {
    margin-bottom: 1em;
    display: inline-block;
} */

br {
    margin: 1em auto;
    /* height: 200px;
    background-color: red; */
    display: block;
    content: "";
}

