/* CSS reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 0 1em; 
}

h1 {
    margin: 1em auto;
    text-align: center;
}

/* Egymás alá kerül a label és az input */
/* label {
    display: block;
    margin: 1em 0 0.25em;
} */

br {
    display: block;
    margin: 1em;
    /* height: 50px;
    background-color: red; */
    content: "";
}

/* Kitekintés: content tulajdonság */
label {
    /* content: url(ghost.png); */
    height: 1em;
    vertical-align: middle;
}

/* Legnagyobbat igazítjuk (nem baseline módon) */
input {
    /* font-size: 2em;
    width: 2em; */
    vertical-align: middle;
}

/* Többit a sorhoz képest igazíthatjuk */
/* middle, top, bottom, baseline */
img {
    height: 1em;
    vertical-align: middle;
    /* border-left: solid; */
}

/* vertical: table-cell, inline */

/* Emlék: táblázat cellák igazítása */
/* table, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    height: 3em;
    vertical-align: middle;
} */

/* Attribútum szelektor */

/* Azok a label mezők, amelyek rendelkeznek for attribútummal */
/* label[for] {
    background-color: blue;
} */

/* Azok az input mezők, amelyek type-ja tartalmazza az "e" szöveget */
/* input[type*="e"] */

input[type="reset"], input[type="submit"] {
    padding: 0.25em;
}

/* Kitekintés: */
/* accent-color: red; */
input[type="radio"] {
    margin-left: 1em;
    margin-right: 0.25em;
}

/* input[type="color"] {
    width: 2em;
    height: 2em;
    border: 2px solid red;
} */

/* input[type="range"] {
    accent-color: red;
} */

/* resize: both, horizontal, vertical, none */
textarea {
    font-family: Arial;
    resize: none;
}

/* Pszeudo-szelektor */

/* a) Pszeudo-osztályok */
/* Adott elem állapotát választják ki */
/* Pl.: a:hover, a:visited */
/* Dinamikus => követi a változásokat */
input[type="checkbox"]:checked {
    outline: 1px solid green;
}

/* Statikus => csak azt figyeli, hogy mi van a html-ben */
/* input[checked] {
    outline: 1px solid blue;
} */

/* b) Pszeudo-elemek */
/* Adott elem egy részét választják ki */
textarea::placeholder {
    color: red;
    opacity: 40%;
}

input[readonly] {
    text-align: center;
    background-color: orange;
    color: white;
    border: 1px solid black;
    opacity: 80%;
}

/* input:read-only {
    text-align: center;
    background-color: purple;
    color: white;
    border: 1px solid black;
} */

/* select {
    resize: both;
} */
