header {
    padding: 2%;
    background-color: var(--lila);
    color: var(--feher);
    /* serif, sans-serif, monospace, cursive, fantasy */
    font-family: Impact, sans-serif;
    font-size: 6vw;
    font-variant: small-caps;
    letter-spacing: 4px;
}

/* Ez mi ez? */
/* Szemantikailag ez nem táblázat! */
.col-3, .col-9 {
    display: table;
}

header p {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

footer, footer div {
    padding: 2%;
    background-color: var(--lila);
    color: var(--feher);
    text-align: center;
}

#kapcsolat span {
    font-weight: bold;
    float: left;
    width: calc(100% / 3);
}

#kapcsolat {
    overflow: auto;
}

#kozosseg img {
    height: 1em;
    margin-right: .5em;
}

/* Inline: a, span, strong, em */
/* 
- Egy sorban
- Nincs width, height tulajdonság
- Csak oldalsó margó van
*/

/* Block: p, div, article, section */
/* 
- Egymás alatt
- Van width, height tulajdonság (alapból 100% width)
- Van margó minden irányban
*/
#kozosseg p {
    display: inline;
}

/* Inline-block: img */
/* 
- Egy sorban
- Van width, height
- Van margó minden irányban
*/
#kozosseg a {
    background-color: var(--feher);
    color: darkblue;
    text-decoration: none;
    margin: 12px;
    display: inline-block;
    padding: 5px 20px;
}

/* #kozosseg a:visited {
    background-color: red;
}

#kozosseg a:active {
    background-color: yellow !important;
} */

#kozosseg a:hover {
    background-color: lightgray;
    color: black;
}

/* Nem szép itt az ID használata! */
#copyright {
    font-style: italic;
    margin-top: 25px;
}

/* Media query */
/* css szabályok */
/*
@media (max-width: 600px) {
    header {
        background-color: blue;
    }
}

@media screen and (max-width: 300px) {
    footer div, footer {
        color: red !important;
    }
}

@media print {
    body {
        background-color: yellow !important;
        font-size: 1.5em;
    }
}
*/

/* screen, print, all */
/* and, not */
/* max-width, min-width  */

@media (max-width: 675px) {
    header {
        letter-spacing: 0;
    }

    #kapcsolat span {
        width: 100%;
        margin: 2% 0;
    }

    #kozosseg p {
        display: none;
    }

    #kozosseg a {
        display: block;
        width: 75%;
        margin: 1rem auto;
        padding: 1rem 0;
    }
}